body {
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}

#ctn,
#container,
#showQs,
.question-holder,
.results-holder {
    justify-content: center;
    margin: auto;
}

#container {
    position: relative;
    width: 450px;
    height: 180px;
    top: 250px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    color: #ccccca;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    border-radius: 20px;
}

#welcome {
    position: relative;
    top: 200px;
    font-size: 250%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#noQuestion {
    position: relative;
    top: 15px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 250%;
}

.question-holder {
    width: 800px;
    height: 100px;
    text-align: center;
    position: relative;
    top: 100px;
    left: 370px;
}

.options-holder {
    width: 800px;
    height: 100px;
    position: relative;
    top: 500px;
    text-align: center;
}

#scoreLine {
    position: relative;
    top: 80px;
}

.curr-question,
.answer {
    padding: 1.75em .5em;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .75);
    color: #fff;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.curr-question {
    margin: 1.5em 0;
    background-color: rgb(27, 27, 27);
    color: rgb(206, 206, 206);
}

.all-answers:after {
    /*Clear the li floated items*/
    content: "";
    display: table;
    clear: both;
    position: relative;
    top: 50px;
}

.answer {
    display: inline-block;
    width: 45%;
    margin: 1em 1.25%;
    cursor: pointer;
    color: #babbbb;
}

.answer:hover {
    background-color: rgba(0, 0, 0, .30);
    color: #292929;
}

.results-holder {
    position: relative;
    top: 350px;
    text-align: center;
}
